.box {
    height: 40px;
    width: 160px;
    margin: 10px;
    

    /* Padding, margin, border box, content box */
}

.red {
    background-color: red;
    margin-left: 50px;
    padding-top: 20px;
    /* Centering text horizontally with padding */
}

.blue {
    background-color: aquamarine;
    margin-bottom: 50px;
}

.green {
    background-color: green;
    margin: 100px 20px 70px 50px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}